@font-face {
  font-family: "Roboto";
  src:
   url("../fonts/roboto.woff2") format("woff2");
   url("../fonts/roboto.woff") format("woff");
   font-weight: 400;
   font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
   url("../fonts/robotomedium.woff2") format("woff2");
   url("../fonts/robotomedium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
   url("../fonts/robotobold.woff2") format("woff2");
   url("../fonts/robotobold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-dark: #a6a6a6;
  --basic-neutral: #dbdbdb;
  --basic-extra-light: #eeeeee;
  --basic-white: #ffffff;

  --special1: #fb565a;
  --special2: #00ca74;
  --special3: #efc849;
  --special4: #666666;
  --special5: #e1e1e1;
  --special6: #444444;
  --special7: #4d4d4d;
  --special8: #01a25e;
  --special9: #e74246;
  --special10: #d7373b;
  --special11: #00bc6c;
  --special12: #00aa62;
  --special13: #eab534;
  --special14: #e5a722;
  --special15: #d7dcde;
  --special16: #b4b9bb;
  --special17: #e74246;
  --special18: #dfdfdf;
  --special19: #d5d5d5;
  --special20: #231F20;
  --special21: #d7dcdf;
  --special22: #ababab;
  --special23: #f1f1f1;
  --special24: #c1c1c1;
}

/* Global */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 55px,16px,24px,45px,18px,36px,14px,16px,26px,;
  line-height: 55px,24px,30px,45px,64px,18px,36px,22px,20px,40px,;
  font-weight: 400,500,700;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url("");
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #eeeeee;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

/* Grid */

.page {
  height: 100%;
}

/* Grid for pages */

.page-catalog-layout {
  display: grid;
  grid-template-columns: 180px 1fr;
  align-content: start;
}

.page-catalog .page-title {
  grid-column: 1 / -1;
}

.page-catalog .breadcrumbs {
  display: flex;
  grid-column: 1 / -1;
  margin-bottom: 48px;
  outline-offset: -5px;
}

/* Main header */

.main-header {
  display: grid;
  background-color: var(--basic-extra-light);
  padding-bottom: 78px;
  padding-left: 140px;
/*   padding-top: 18px; */
  padding-right: 140px;
  margin: 0;
}

  /* .main-header.container {
 width: 1160px;
 height: 65px;
}*/

/* Main navigation */

.main-navigation {
  flex-direction: row;
  align-items: flex-start;
  min-height: 65px;
/*   display: grid;*/
  display: flex;
  grid-template-columns: 1fr min-content;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
}

.main-navigation-wrapper {
  display: grid;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  grid-template-columns: min-content 1fr min-content;
  background-color: var(--basic-extra-light);
}

/* Logo */



/* Site Navigation */

.site-navigation {
  list-style: none;
  text-transform: uppercase;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}

/* Container */

.container {
  /*min-height: 413px;*/
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.container {
  position: relative;
}

.main-navigation-wrapper .container {
  display: flex;
  /*grid-template-columns: 1fr min-content;*/
  justify-content: space-between;
}

/* Logo */

.main-header-logo {
  order: 0;
  width: 160px;
  height: 65px;
  margin-top: 18px;
  margin-right: 202px;
}

/*.main-header-bar {
  background-color: var(--basic-extra-light);
}*/

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  height: 30px;
  /*padding-top: 44px;*/
  padding-right: 246px;
  /*padding-bottom: 21px;
  padding-left: 202px;*/
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}

/* User navigation */

.user-navigation {
  max-width: 140px;
  /*height: 30px;
  padding-top: 44px;
  padding-right: 140px;
  padding-bottom: 10px;
  padding-left: 286px;*/
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
  text-transform: uppercase;
  display: block;
  padding: 25px 10px;
}

.site-navigation a:hover {
  color: var(--special1);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.user-navigation a:hover{
  color: var(--special1);
  opacity: 0.7;
}

.user-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}
  /* Login link */

  .login-link {
    position: relative;
    margin-left: 286px;
  }

  .login-link::before {
    content: "";
    position: absolute;
    top: 27px;
    left: -25px;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .user-navigation .login-link {
    /*padding-left: 246px;*/
    position: relative;
  }

/* Features */

.features {
  margin-bottom: 80px;
}

.features-list {
  display: grid;
  justify-content: space-between;
  gap:100px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 140px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  width: 300px;
  text-align: left;
}

.feature-item {
  padding-bottom: 25px;
}

.feature-item h3 {
  column-gap: 16px;
  text-align: left;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  padding-bottom: 16px;
}

.feature-item p {
  margin: 0 10px;
  padding-bottom: 32px;
}

.feature-item. a {
  margin-right: auto;
  margin-left: auto;
}

/* Index columns */

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
  margin-left: 140px;
  margin-right: 126px;
  margin-top: 39px;
  color: var(--basic-black);
  background-position: 0 0;
  background-repeat: repeat;
  border-top: 1px solid var(--basic-extra-light);
}

.index-columns h1 {
  /*width: 651px;*/
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.index-columns p {
  /*margin-bottom: 32px;*/
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 32px;
  font-size: 45px;
  line-height: 45px;
}

.index-columns .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1174px;
  height: 413px;
  column-gap: 149px;
  margin-bottom: 73px;
}

.about-us-main {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
}

.about-us-main li {
  margin-bottom: 20px;
  position:relative;
  padding-left: 32px;
}

.about-us-main li::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 25px;
  height: 2px;
  background-color: red;
}

.subtitle-1 h1 {
  font-size: 45px;
}

.subtitle-1 p {
  font-size: 16px;
}

.subtitle-2 h2 {
  font-size: 16px;
}

.about-us-main {
  font-size: 16px;
}

.about-us-additional {
  width: 360px;
  height: 413px;
  /*text-align: right;*/
}

.about-us-additional > div {
 display: flex;
}

.about-us-additional img {
  width: 360px;
  height: 208px;
  margin-bottom: 37px;
}

.about-us-additional h2 {
  font-size: 16px;
  margin-bottom: 31px;
}

.percent {
 margin-right: 42px;
 margin-bottom: 10px;
}

.percent p {
  font-size: 16px;
}

/* About-us */

.about-us {
  width: 651px;
}

.about-us h1 {
 font-size: 45px;
 margin-bottom: 32px;
}

.about-us p {
  font-size: 16px;
  margin-bottom: 40px;
}

.about-us h2 {
 font-size: 16px;
 margin-bottom: 23px;
}

/* Button */

.button {
  display: inline-block;
  margin-right: 240px;
  padding: 10px 30px;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--special1);
  border: none;
}

.button.container{
  padding-bottom: 80px;
}

.button-1 {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--special2);
  border: none;
  padding: 10px 30px;
}

.button-2 {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--special3);
  border: none;
  padding: 10px 30px;
}

.button:hover {
  background-color: var(--special9);
}

.button:active {
  color: var(--special10);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-black);
}

.button-1:hover {
  background-color: var(--special11);
}

.button-1:active {
  color: var(--special12);
}

.button-1.disabled,
.button-1:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-black);
}

.button-2:hover {
  background-color: var(--special13);
}

.button-2:active {
  color: var(--special14);
}

.button-2.disabled,
.button-2:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-black);
}

.page-title {
  margin: 0;
  margin-bottom: 108px;
  padding: 0;
  font-size: 55px;
  line-height: 55px;
  background-color: var(--basic-extra-light);
  text-align: center;
}

.filter-button {
 width: 260px;
 height: 50px;
 background-color: var(--basic-extra-light);
 color: var(--basic-black);
}

.filter-button:hover {
  background-color: var(--special18);
}

.filter-button:active {
  cursor: default;
  opacity: 0.5;
  color: var(--basic-black);
  background-color: var(--special19);
}

/* Breadcrumbs */

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumbs li {
  position: relative;
  margin-right: 285px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  background-color:var(--special20);
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  text-align: right;
  color: var(--basic-black);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: var(--basic-dark);
}

/* Filters */

.filters {
  width: 208px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 54px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 47px;
}

.filter legend {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 30px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  line-height: 20px;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--basic-extra-dark);
}

.filter-option {
  margin-bottom: 20px;
  /*padding-left: 45px;*/
  list-style: none;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 25px;
  height: 23px;
  border: 2px solid #4d4d4d;
  vertical-align: middle;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -38px;
  width: 21px;
  height: 17px;
  background-color: var(--special7);
  background-image: url("img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  text-align: center;
  font-family: sans-serif;
  background-size: 100%;
  color: #4d4d4d;
  display: block;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 25px;
  height: 25px;
  border: 2px solid #4d4d4d;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -32px;
  width: 9px;
  height: 9px;
  background-color: #4d4d4d;
  border-radius: 50%;
}

/* Catalog */

.catalog {
  margin-left: 141px;
  outline-offset: -5px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
  list-style: none;
}

.catalog-item {
  width: 358px;
  min-height: 578px;
  margin-right: 42px;
  margin-bottom: 32px;
  box-shadow: 0 6px rgba(0, 0, 0, 0.25);
}

.catalog-item-image {
  width: 358px;
  height: 578px;
  margin: 0;
}

.catalog-item a {
  color: var(--basic-black);
  display: flex;
  flex-direction: column;
}

.catalog-item-detail:{
 background-color: #eeeeee;
}

/*.catalog-item h3 {
  font-size: 18px;
  line-height: 30px;
}*/

.catalog-category {
  margin-top: 26px;
  margin-right: 144px;
  margin-bottom: 12px;
  margin-left: 145px;
  text-transform: none;
  font-size: 18px;
  line-height: 30px;
}

.catalog-category:hover {
 color: var(--special1);
}

.catalog-category:active {
 color: var(--basic-black);
 opacity: 0.3;
}

.catalog-item-title {
  width: 255px;
  height: 37px;
  margin-right: 53px;
  margin-bottom: 32px;
  margin-left: 52px;
  text-transform: none;
  font-size: 16px;
  line-height: 18px;
  color: var(--special4);
  text-align: center;
}

.catalog-item-price.button {
  width: 56px;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 17px;
  padding-bottom: 15px;
  margin: 80px;
  margin-top: 32px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
}

.catalog-item-price.button:hover {
 color: var(--basic-white);
 background-color: var(--special9);
}

.catalog-item-price.button:active {
  background-color: var(--special10);
}

/* Pagination */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 10px 18px;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
}

.pagination-item a:hover {
  background-color: var(--special18);
}
.pagination-item a:focus {
  background-color: var(--special18);
}
.pagination-item a:active {
  background-color: var(--special19);
}

  .pagination-item-current a,
  .pagination-item-current a:hover,
  .pagination-item-current a:focus,
  .pagination-item-current a:active {
    color: var(--basic-black);
    background-color: var(--basic-white);
  }

/* Main footer */

.main-footer {
  /*padding: 65px 0;
  margin-top: 80px;*/
  color: var(--basic-black);
  background-position: 0 0;
  background-repeat: repeat;
  background-color: var(--basic-white);
  width: 1440px;
  height: 593px;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*.main-footer .footer-social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 9px;
}*/

/*.main-footer .h2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}*/


.footer-contacts {
  color: var(--special4);
  text-decoration: none;
  width: 1440px;
  height: 416px;
  margin-bottom: 68px;
}

/*.footer-contacts img {
  top: 80px;
}*/

.footer-phone {
  color: var(--special4);
  text-decoration: none;
}

.footer-social .container {
  display: grid;
  height: 1060px;
  width: 81px;
  padding-bottom: 74px;
  /*text-align: left;*/
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*margin: 0 auto;*/
  /*padding: 0;*/
  list-style: none;
  justify-self: left;
  padding-right: 9px;
  width: 243px;
}

.contact-us-title {
  font-size: 18px;
  line-height: 30px;
  font-weight:700;
  color: var(--basic-black);
}

.caption {
  max-width: 660px;
  font size: 36px;
  margin: 0;
  justify-self: center;
}

.caption h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.caption p {
  font-size: 16px;
}

/* Social button */

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  background-color: var(--special5);
  color: inherit;
  border-radius: 50%;
}

.social-button:hover{
  background-color: var(--special9);
}

.social-button:focus {
  background-color: var(--special10);
}

.social-button:hover path,
.social-button:focus path {
  fill: var(--basic-white);
}

/* Modal */

.modal {
  display: grid;
  width: 960px;
  height: 590px;
  color: var(--basic-black);
  background-position: 0 0;
  background-repeat: repeat;
  /* box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);*/
}

.modal-item {
  margin-top: 0;
  margin-bottom: 34px;
}

.modal-login h2 {
  margin: 0;
  margin-bottom: 37px;
  font-size: 45px;
  line-height: 53px;
}

.modal .button {
  display: block;
  width: 100%;
  margin-top: 47px;
  margin-right: 0;
}

/* Appointment form */

.appointment-form input[type="name"],
.appointment-form input[type="email"]
.appointment-form input[type="the-text-of-the-letter"] {
  font: inherit;
  color: var(--basic-black);
  text-transform: uppercase;
  border: 2px solid var(--basic-black);
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*.appointment-item {
  width: 140px;
  margin-top: 0;
  margin-bottom: 10px;
} */

.appointment-item input {
  width: 360px;
  padding-top: 16px;
  padding-right: 14px;
  padding-bottom:16px;
  padding-left: 16px;
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--basic-black);
  box-sizing: border-box;
}

/* Percent */

/*.percent {
  padding-left: 369px;
  padding-right: 42px;
  padding-top: 31px;
  padding-bottom: 122px;
}*/

.percent span {
  height: 64px;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.percent sup {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}

/* Slider */

.slider {
  min-height: 431px;
  background-color: var(--basic-extra-light);
  margin-bottom: 80px;
}

 .slider .container {
   position:relative;
 }

 .slider-controls {
   position: absolute;
   left: 50%;
   margin-left: -44px;

 }

.slider-item {
  background-color: var(--basic-extra-light);
}

.slider-item-1 {
  height: 431px;
  background-image: url("../img/nerds-index-slide1-1.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.slider-item-2 {
  height: 431px;
  background-image: url("../img/nerds-index-slide2-1.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.slider-item-3 {
  height: 431px;
  background-image: url("../img/nerds-index-slide3-1.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding-top: 78px;
  padding-bottom: 25px;
  margin: 0;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 38px;
}

.slider-controls {
  position: absolute;
  z-index: 20;
  display: flex;
  width: 67px;
  justify-content: space-between;
  bottom: 96px;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.slider-controls button::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  margin-left: -4px;
  margin-top: -4px;
}

.slider-controls .current {

}

/* Brands */

.brands {
  border-top: 1px solid var(--basic-extra-light);
  border-bottom: 1px solid var(--basic-extra-light);
}

.brands ul {
display: flex;
list-style: none;
margin-top: 64px;
margin-bottom: 59px;
}

.brands li {
  position: relative;
}

.brands li:not(:first-child)::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.brands..container {
  width: 1159px;
  height: 184px;
  /*padding-left: 95px;*/
}

.brands img {
  padding-top: 63px;
  padding-bottom: 60px;
  padding-left: 48px;
  margin-right: auto;
  margin-left: auto
}
